<h1>New Diary Entry</h1>

<div class="form-wrapper">
#   <%= render 'form', diary_entry: @diary_entry, moods: @moods %>
    <%= render partial: "form", locals: { diary_entry: @diary_entry, moods: @moods } %>


  <br>

  <%= link_to 'Back to List', diary_entries_path, class: 'back-link' %>
</div>

